header {
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 32px 0px 8px;

margin: 0, auto; 
position: relative;

/* background */
background: none;
 }

 .header-container {
    width: auto; 
    height: 6px; /* Fixed height */
    display: flex; 
    align-items: center; /* Ensures all items are at the same level */
    margin: 0 auto;  
    gap: 500px
}




 .Logo {
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 8px;


}

 .Logo p {
    font-family: 'Fira Code', monospace;
    font-weight: 400; /* You can use 300, 400, 500, 600, or 700 */
    font-size: 16px;
    text-decoration: none; /* Optional: Removes underline */
    color: #ffffff;

}

.Logo img {
    width: 14px;
    height: 14px;
    object-fit: cover; /* Ensures the image fills the area */
}



.Navbar {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 32px;
}


li {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
}

a::before {
    content: "#";
    color: #007AFF
}

a:hover{
    color: white;
}

a {
    font-family: 'Fira Code', monospace;
    font-weight: 400; /* You can use 300, 400, 500, 600, or 700 */
    font-size: 16px;
    text-decoration: none; /* Optional: Removes underline */
    color: #ABB2BF;
}

ul {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
isolation: isolate;
}

body {
background: #282C33;
}

.headertab {
    /* Line 10 (Stroke) */
width: 19px;
height: 1px;

/* gray */


}